

/* panels */
body{
    margin: 0px;
    color: #cccccc;
    background-color: #252526;
    font-family: 'Open Sans', sans-serif;
}

.column {
    height: 100vh;
    transform: 300ms linear
}

.toolbar-left {
    float: left;    
    width: 50px;
    background-color: #333333;
}
.toolbar-right{
    float: right;
    width: 50px;
    background-color: #333333;
}

.left{
    width: 300px;
    float: left;
}
.middle {
    overflow: hidden;
    background-color: #1e1e1e;
}
.right {
    width: 300px;
    float: right;
}

.panel{
    background-color: #252526;
    margin: 0px;
    padding: 0em 1em 0em 1em;
    overflow-y: scroll;
} 

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    /* margin-right: 1em; */
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.icon:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
.icon a {  
    font-size: 1.5em;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
  }
.icon:hover {
    background-color: #252526;
}

.content {
    max-height:100vh;
    display:block;
    margin:auto;
}

::-webkit-scrollbar { 
    display: none; 
}

/* typography */

h1 {
    margin: 0px;
}
p {
    margin: 0px;
}

.menu-label {
    font-size: small;
    margin: 1em 0px 1em 0px
}
.menu-item {
    width: 100%;
    /* padding: 0.3em 0px 0.3em 0.3em; */
    border-radius: 2px;
}
.menu-item:hover {
    background-color: #333333;
}
ul {
    margin: 0px;
    padding-left: 1em;
}
li {
    list-style-type: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/* game board */

.wrapper {
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.wrapper canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}

canvas {
    display: none
}

#canvas_fog{
    /* mix-blend-mode: difference */
    mix-blend-mode: multiply;
}
#canvas_grid_square {
    opacity: 0.6;
    mix-blend-mode: overlay;
}
#canvas_grid_hex {
    opacity: 0.6;
    mix-blend-mode: overlay;
}
/* .card {
    padding:5px;
    margin: 8px;
    color: #0F0D0C;
    background: #F0F2F3;
    border-radius: 5px;
    transition: 0.3s;
    filter: invert(1)
}
.card:hover {
    filter: invert(0)
} */

/* audio controls */

audio {
    width: 100%;
    background: #f1f3f4;
    filter: invert(1);
    mix-blend-mode: screen
}