<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Press F11 Fullscreen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/socket.io.dev.js"></script>
</head>

<style>
    body {
        background-color: black;
        margin: 0px;
    }

    img {
        /* height: 100vh; */
        width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
    <img id="map" src="static/maps/default.jpg">
</body>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        socket.emit('message', "New connection!");
    });

    socket.on('update map', function (path) {
        console.log(path)
        document.getElementById("map").src = path;
    });
</script>

</html>