<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!-- import uikit -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/uikit.min.css" />
    <script src="static/js/library.uikit.min.js"></script>
    <!-- import bulma -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/bulma.min.css" />
    <!-- import icons -->
    <script src="static/js/library.fontawesome.5.1.0.js"></script>
    <!-- import fuse fuzzy finder -->
    <script src="static/js/library.fuse.3.0.4.js"></script>
    <!-- import jquery -->
    <script src="static/js/library.jquery-3.3.1.min.js"></script>
    <!-- socket io -->
    <script src="static/js/library.socket.io.dev.js"></script>
    <!-- custom style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
</head>

<body>
    <div cols uk-grid>
        <div id="map-selection" class="col uk-width-expand">
            <nav class="panel">
                <p class="panel-heading">
                    Maps
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input id="map-search" class="input is-small" type="text" placeholder="search" onkeyup="map_search_entry();">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a id="map-filter-all" onclick="filter_map_type(this.id);" class="is-active">all</a>
                    <a id="map-filter-world" onclick="filter_map_type(this.id);">world</a>
                    <a id="map-filter-town" onclick="filter_map_type(this.id);">town</a>
                    <a id="map-filter-dungeon" onclick="filter_map_type(this.id);">dungeon</a>
                </p>
                <div id="map-panel-list">
                    <!-- populated by map list elements -->
                </div>
            </nav>
        </div>

        <div id="board-preview" class="col uk-width-expand">
            <nav class="panel">
                <p class="panel-heading">
                    <span id="global-mute" class="button is-dark" onclick="global_mute();">
                        <i class="fas fa-video-slash" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    <span class="button" onclick="global_erase();">
                        <i class="fas fa-eraser" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    <span class="button" onclick="toggle_map_view();">
                        <i class="fas fa-low-vision" aria-hidden="true"></i>
                    </span>
                </p>

                <div class="wrapper">
                    <img id="map-preview" src="/static/maps/default.jpg">

                    <canvas id="canvas_darkness" width="2160" height="3840"></canvas>

                    <canvas id="canvas_effect_rain" width="2160" height="3840"></canvas>
                    <canvas id="canvas_effect_snow" width="2160" height="3840"></canvas>

                    <canvas id="canvas_effect_thunderstorm1" width="2160" height="3840"></canvas>
                    <canvas id="canvas_effect_thunderstorm2" width="2160" height="3840"></canvas>
                    <canvas id="canvas_effect_thunderstorm3" width="2160" height="3840"></canvas>

                    <!-- <canvas id="canvas_light" width="2160" height="3840"></canvas> -->
                    <!-- <canvas id="canvas_fog" width="2160" height="3840"></canvas> -->
                </div>

            </nav>
        </div>

        <div id="board-settings" class="col uk-width-expand">
            <nav id="setting-panel-light" class="panel">
                <p class="panel-heading">
                    Settings
                </p>
                <p class="panel-tabs">
                    <a id="setting-tab-toggle-light" class="is-active" onclick="settingtabtoggle(this.id);">light</a>
                    <a id="setting-tab-toggle-fog" onclick="settingtabtoggle(this.id);">fog</a>
                    <a id="setting-tab-toggle-effect" onclick="settingtabtoggle(this.id);">effects</a>
                </p>
                <a class="panel-block">
                    <span class="button" onclick="setting_global_mute_light();">
                        <i class="fas fa-video-slash" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    <span class="button" onclick="setting_add_light();">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
                <div id="light-panel-list">
                    <!-- populated by light list elements -->
                </div>
            </nav>
            <nav id="setting-panel-fog" class="panel" style="display: none;">
                <p class="panel-heading">
                    Settings
                </p>
                <p class="panel-tabs">
                    <a id="setting-tab-toggle-light" onclick="settingtabtoggle(this.id);">light</a>
                    <a id="setting-tab-toggle-fog" class="is-active" onclick="settingtabtoggle(this.id);">fog</a>
                    <a id="setting-tab-toggle-effect" onclick="settingtabtoggle(this.id);">effects</a>
                </p>
                <a class="panel-block">
                    <span class="button" onclick="setting_global_mute_fog();">
                        <i class="fas fa-video-slash" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    <span class="button is-dark" onclick="setting_erase_fog();">
                        <i class="fas fa-eraser" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    <span class="button" onclick="setting_pencil_fog();">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                </a>
            </nav>
            <nav id="setting-panel-effect" class="panel" style="display: none;">
                <p class="panel-heading">
                    Settings
                </p>
                <p class="panel-tabs">
                    <a id="setting-tab-toggle-light" onclick="settingtabtoggle(this.id);">light</a>
                    <a id="setting-tab-toggle-fog" onclick="settingtabtoggle(this.id);">fog</a>
                    <a id="setting-tab-toggle-effect" class="is-active" onclick="settingtabtoggle(this.id);">effects</a>
                </p>
                <a class="panel-block">
                    <span class="button" onclick="setting_global_mute_effect();">
                        <i class="fas fa-eraser" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="panel-block">
                    Darkness
                    <span class="panel-icon"></span>
                    <i class="fas fa-sun" aria-hidden="true"></i>
                    <span class="panel-icon"></span>
                    <input id="darkness" class="slider is-fullwidth is-small is-circle" step="0.01" min="0" max="1" value="0" type="range" oninput="darknessSlider();">
                    <span class="panel-icon"></span>
                    <i class="fas fa-moon" aria-hidden="true"></i>
                </a>
                <a class="panel-block">
                    <span id="effect-mute-rain" class="button is-dark" onclick="mute_effect('rain');">
                        <i class="far fa-lightbulb" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    Rain
                </a>
                <a class="panel-block">
                    <span id="effect-mute-snow" class="button is-dark" onclick="mute_effect('snow');">
                        <i class="far fa-lightbulb" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    Snow
                </a>
                <a class="panel-block">
                    <span id="effect-mute-thunderstorm" class="button is-dark" onclick="mute_effect('thunderstorm');">
                        <i class="far fa-lightbulb" aria-hidden="true"></i>
                    </span>
                    <span class="panel-icon"></span>
                    Thunderstorm
                </a>
            </nav>
        </div>
    </div>

</body>


<script src="static/js/dashboard.board.js"></script>
<script src="static/js/dashboard.maps.js"></script>
<script src="static/js/dashboard.effect.js"></script>
<script src="static/js/dashboard.fog.js"></script>
<script src="static/js/dashboard.light.js"></script>

<!-- <script src="static/js/effect.light.js"></script> -->
<!-- <script src="static/js/effect.fog.js"></script> -->

<script src="static/js/effect.rain.js"></script>
<script src="static/js/effect.snow.js"></script>
<script src="static/js/effect.thunderstorm.js"></script>

<script src="static/js/dashboard.main.js"></script>

</html>