<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!-- import icons -->
    <script src="static/js/library.fontawesome.5.1.0.js"></script>
    <!-- import jquery -->
    <script src="static/js/library.jquery-3.3.1.min.js"></script>
    <!-- import socketio -->
    <script src="static/js/library.socket.io.dev.js"></script>
    <!-- custom style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
</head>

<body>
    <div class="column toolbar-left">
        <div class="icon icon-left" onclick="panel_update(this, 'map', 'left');">
            <a><i class="fas fa-map-marker-alt"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'effect', 'left');">
            <a><i class="fas fa-bolt"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'fog', 'left');">
            <a><i class="fas fa-cloud"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'grid', 'left');">
            <a><i class="fas fa-border-all"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'setting', 'left');">
            <a><i class="fas fa-cog"></i></a>
        </div>
    </div>
    <div id="map" class="column left panel">
        <h1>Maps</h1>
        <li onclick="dashboard_board_maps_mute(this)"><div class="menu-item"><input id="mute-control" type="checkbox"> Mute</div></li>
        <div id="map-panel-list">
            <p class="menu-label">
                Maps
            </p>
            <ul id="map-list" class="menu-list">
                <!-- populated by map list elements -->
            </ul>
        </div>
    </div>
    <div id="effect" class="column left panel">
        <h1>Effect</h1>
        <p class="menu-label">
            Brightness
        </p>
        <ul>
            <li><input type="range" step="0.01" min="0" max="1" value="0" onchange="dashboard_board_effects_brightness(this);" style="width:100%"></li>
        </ul>
        <p class="menu-label">
            Weather
        </p>
        <ul class="menu-list">
            <li onclick="dashboard_board_effects_weather_rain(this)"><div class="menu-item"><input id="weather-rain-control" type="checkbox"> Rain</div></li>
            <li onclick="dashboard_board_effects_weather_thunderstorm(this)"><div class="menu-item"><input id="weather-thunderstorm-control" type="checkbox"> Thunderstorm</div></li>
            <li onclick="dashboard_board_effects_weather_snow(this)"><div class="menu-item"><input id="weather-snow-control" type="checkbox"> Snow</div></li>
        </ul>
    </div>
    <div id="fog" class="column left panel">
        <h1>Fog</h1>
        <li onclick="dashboard_board_fog_enable(this)"><div class="menu-item"><input id="fog-enable-control" type="checkbox"> Enable</div></li>
        <p class="menu-label">
            General
        </p>
        <ul>
            <li onclick="dashboard_board_fog_general_dmview(this)"><div class="menu-item"><input id="fog-dmview-control" type="checkbox"> DM View</div></li>
            <li onclick="dashboard_board_fog_reset(this)"><div id="fog-reset-control" class="menu-item"> Reset</div></li>
        </ul>
    </div>
    <div id="grid" class="column left panel">
        <h1>Grid</h1>
        <p class="menu-label">
            Square
        </p>
        <ul class="menu-list">
            <li onclick="dashboard_board_grid_square_enable(this)"><div class="menu-item"><input id="grid-square-enable-control" type="checkbox"> Enable</div></li>
            <li>Scale<input type="range" step="1" min="1" max="100" value="25" onchange="dashboard_board_grid_square_scale(this);" style="width:100%"></li>
            <li>Opacity<input type="range" step="0.01" min="0" max="1" value="0.6" onchange="dashboard_board_grid_square_opacity(this);" style="width:100%"></li>
        </ul>
        <p class="menu-label">
            Hex
        </p>
        <ul class="menu-list">
            <li onclick="dashboard_board_hex_square_enable(this)"><div class="menu-item"><input type="checkbox"> Enable</div></li>
            <li>Scale<input type="range" step="1" min="1" max="40" value="10" onchange="dashboard_board_hex_square_scale(this);" style="width:100%"></li>
            <li>Opacity<input type="range" step="0.01" min="0" max="1" value="0.6" onchange="dashboard_board_hex_square_opacity(this);" style="width:100%"></li>
        </ul>
    </div>
    <div id="setting" class="column left panel">
        <h1>Settings</h1>
        <p class="menu-label">
            General
        </p>
        <ul>
            <li onclick="settingsClearAll(this)"><div class="menu-item">Clear All</div></li>
        </ul>
    </div>

    <div class="column toolbar-right">
        <div class="icon icon-right" onclick="panel_update(this, 'music', 'right');">
            <a><i class="fas fa-music"></i></a>
        </div>
        <div class="icon icon-right" onclick="panel_update(this, 'soundeffects', 'right');">
            <a><i class="fas fa-bolt"></i></a>
        </div>
        <div class="icon icon-right" onclick="panel_update(this, 'ambiance', 'right');">
            <a><i class="fab fa-envira"></i></a>
        </div>
    </div>
    <div id="music" class="column right panel">
        <h1>Music</h1>
            <div class="menu-item">
                <p>New Tristram</p>
                <audio controls src="static/media/audio/music/03 New Tristram.mp3"></audio>
            </div>
            <div class="menu-item">
                <p>Garden of Hope</p>
                <audio controls src="static/media/audio/music/Dungeon/19 Garden of Hope.mp3"></audio>
            </div>
            <div class="menu-item">
                <p>Striking Out</p>
                <audio controls src="static/media/audio/music/01_Theme_Striking Out.wav"></audio>
            </div>
    </div>
    <div id="soundeffects" class="column right panel">
        <h1>Sound Effects</h1>
            <div class="menu-item">
                <p>Airship Crash</p>
                <audio controls src="static/media/audio/effect/airship-crash.wav"></audio>
            </div>
            <div class="menu-item">
                <p>Fog Horn</p>
                <audio controls src="static/media/audio/effect/fog-horn.wav"></audio>
            </div>
            <div class="menu-item">
                <p>Klaxon</p>
                <audio controls src="static/media/audio/effect/klaxon.wav"></audio>
            </div>
        </div>
    </div>
    <div id="ambiance" class="column right panel">
        <h1>Ambiance</h1>
            <div class="menu-item">
                <p>Windy Expanse</p>
                <audio controls src="static/media/audio/ambiance/windy-expanse.mp3"></audio>
            </div>
            <div class="menu-item">
                <p>Dungeon Interior</p>
                <audio controls src="static/media/audio/ambiance/dungeon-interior.mp3"></audio>
            </div>
            <div class="menu-item">
                <p>Ghost Ship</p>
                <audio controls src="static/media/audio/ambiance/ghost-ship.mp3"></audio>
            </div>
    </div>

    <div class="column middle">
        <div class="wrapper">
            <img id="map-preview" class="content" src="static/media/maps/default.jpg">
            <canvas id="canvas_grid_square" class="content" width="2160" height="3840" style="display: none"></canvas>
            <canvas id="canvas_grid_hex" class="content" width="2160" height="3840" style="display: none"></canvas>
            <canvas id="canvas_darkness" class="content" width="2160" height="3840"></canvas>

            <canvas id="canvas_effect_rain" class="content effect" width="2160" height="3840" style="display: none"></canvas>
            <canvas id="canvas_effect_snow" class="content effect" width="5000" height="3840" style="display: none"></canvas>

            <canvas id="canvas_effect_thunderstorm1" class="content effect" width="2160" height="3840" style="display: none"></canvas>
            <canvas id="canvas_effect_thunderstorm2" class="content effect" width="2160" height="3840" style="display: none"></canvas>
            <canvas id="canvas_effect_thunderstorm3" class="content effect" width="2160" height="3840" style="display: none"></canvas>

            <canvas id="canvas_fog" class="content" width="2160" height="3840" style="display: none"></canvas>
        </div>
    </div>
</body>

<!-- dashboard -->
<script src="static/js/dashboard.board.js"></script>

<!-- right tabs -->
<script src="static/js/dashboard.maps.js"></script>
<script src="static/js/dashboard.effect.js"></script>
<script src="static/js/dashboard.fog.js"></script>
<script src="static/js/dashboard.grid.js"></script>
<script src="static/js/dashboard.settings.js"></script>

<!-- left tabs -->
<!-- <script src="js/dashboard.audio.js"></script> -->

<!-- effects -->
<script src="static/js/effect.rain.js"></script>
<script src="static/js/effect.snow.js"></script>
<script src="static/js/effect.thunderstorm.js"></script>
<!-- grid -->
<script src="static/js/grid.square.js"></script>
<script src="static/js/grid.hex.js"></script>
<!-- main -->
<script src="static/js/dashboard.main.js"></script>
<!-- fog -->
<script src="static/js/fog.js"></script>

</html>
