<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <!-- import icons -->
    <script src="static/js/library.fontawesome.5.1.0.js"></script>
    <!-- import fuse fuzzy finder -->
    <script src="static/js/library.fuse.3.0.4.js"></script>
    <!-- import jquery -->
    <script src="static/js/library.jquery-3.3.1.min.js"></script>
    <!-- socket io -->
    <script src="static/js/library.socket.io.dev.js"></script>
    <!-- custom style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
</head>

<body>
    <div class="column toolbar-left">
        <div class="icon icon-left" onclick="panel_update(this, 'map', 'left');">
            <a><i class="fas fa-map-marker-alt"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'effect', 'left');">
            <a><i class="fas fa-bolt"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'fog', 'left');">
            <a><i class="fas fa-cloud"></i></a>
        </div>
        <div class="icon icon-left" onclick="panel_update(this, 'setting', 'left');">
            <a><i class="fas fa-cog"></i></a>
        </div>

    </div>
    <div id="map" class="column left panel">
        <h1>Maps</h1>
        <div id="map-panel-list">
            <!-- populated by map list elements -->
        </div>
    </div>
    <div id="effect" class="column left panel">
        <h1>Effects</h1>
        <div class="card">
            <p>Darkness<input type="range" step="0.01" min="0" max="1" value="0" oninput="darknessSlider();" style="width:100%"></p>
        </div>
        <div class="card" onclick="mute_effect('rain');">
            <p><input type="checkbox"> Rain</p>
        </div>
        <div class="card" onclick="mute_effect('thunderstorm');">
            <p><input type="checkbox"> Thunderstorm</p>
        </div>
        <div class="card" onclick="mute_effect('snow');">
            <p><input type="checkbox"> Snow</p>
        </div>
    </div>
    <div id="fog" class="column left panel">
        <h1>Fog</h1>
        <div class="card">
            <p><input id="fog_enable" type="checkbox" value="" onclick="updatefogview()"> Enable</p>
        </div>
        <div class="card">
            <p><input id="fog_dmview" type="checkbox" onclick="updatefogview()" checked> DM View</p>
        </div>
        <div class="card">
            <p>Brush size</p>
            <input type="range" min="2" max="200" value="100" oninput="fogbrushsize(this.value)" style="width:100%">
        </div>
        <div class="card">
            <p><button onclick="clearArea()">Reset</button></p>
        </div>
    </div>
    <div id="setting" class="column left panel">
        <h1>Settings</h1>
        <div class="card" onclick="setting_global_mute_effect();">
            <p><input type="checkbox"> Clear All</p>
        </div>
        <div class="card">
            <p><input type="checkbox"> DM View</p>
        </div>
        <div class="card">
            <p><input type="checkbox"> Upload Maps</p>
        </div>
        <div class="card">
            <p><input type="checkbox"> Upload Music</p>
        </div>
    </div>

    <div class="column toolbar-right">
        <div class="icon icon-right" onclick="panel_update(this, 'nowplaying', 'right');">
            <a><i class="fas fa-play"></i></a>
        </div>
        <div class="icon icon-right" onclick="panel_update(this, 'music', 'right');">
            <a><i class="fa fa-folder"></i></a>
        </div>
        <div class="icon icon-right" onclick="panel_update(this, 'mute', 'right');">
            <a><i class="fas fa-volume-mute"></i></i></a>
        </div>
    </div>
    <div id="nowplaying" class="column right panel">
        <h1>Now Playing</h1>

        <div class="card">
            <p>Call of Kuthulu</p>
            <audio controls src="#"></audio>

            <div class="audiocontrols">
                <div class="audiocontrol">
                    <i class="fas fa-step-backward"></i>
                </div>
                <div class="audiocontrol">
                    <i class="fas fa-step-forward"></i>
                </div>
                <div class="audiocontrol">
                    <i class="fas fa-sync"></i>
                </div>
                <div class="audiocontrol">
                    <i class="fas fa-trash"></i>
                </div>
            </div>
        </div>

    </div>
    <div id="music" class="column right panel">
        <h1>Music</h1>
        <div class="card" onclick="up()"><i class="fas fa-level-up-alt"></i> Up level</div>
        <div id="musiclist">
        </div>
    </div>
    <div id="mute" class="column right panel">
        <h1>Mute</h1>
    </div>

    <div class="column middle">
        <div class="wrapper">
            <img id="map-preview" class="content" src="/static/maps/default.jpg">
            <canvas id="canvas_darkness" class="content" width="100" height="100"></canvas>
            <canvas id="canvas_fog" class="content" width="100" height="100"></canvas>

            <canvas id="canvas_effect_rain" class="content" width="2160" height="3840"></canvas>
            <canvas id="canvas_effect_snow" class="content" width="2160" height="3840"></canvas>

            <canvas id="canvas_effect_thunderstorm1" class="content" width="2160" height="3840"></canvas>
            <canvas id="canvas_effect_thunderstorm2" class="content" width="2160" height="3840"></canvas>
            <canvas id="canvas_effect_thunderstorm3" class="content" width="2160" height="3840"></canvas>
        </div>
    </div>
</body>

<script src="static/js/dashboard.board.js"></script>
<script src="static/js/dashboard.maps.js"></script>
<script src="static/js/dashboard.effect.js"></script>
<script src="static/js/dashboard.fog.js"></script>
<script src="static/js/dashboard.light.js"></script>
<script src="static/js/dashboard.audio.js"></script>

<!-- <script src="static/js/effect.light.js"></script> -->
<!-- <script src="static/js/effect.fog.js"></script> -->

<script src="static/js/effect.rain.js"></script>
<script src="static/js/effect.snow.js"></script>
<script src="static/js/effect.thunderstorm.js"></script>

<script src="static/js/dashboard.main.js"></script>

</html>